/* Add your CSS code below */

a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 5px solid blue;
}

.message__time--old {
  opacity: 0.3;
}

.message {
  line-height: 45px;
}
